// Ngaire uses for grid layout

#page {
	width: $website-width;
	margin: 0 auto;
}
#primary {
	width: $main-col-width;
	float: left;
}
#secondary {
	width: $sidebar-width;
	float: right;
}
#colophon {
	float: left;
	width: $main-col-width;
	clear: both;
}