// Ngaire used to customise h1, h2, etc.

// General HTML styles

body {
	font: 100% $sans-serif-font;
 	color: $primary-color;
}
h1 {
	font-family: $serif-font;
	color: $tertiary-color;
}
strong {
	color: $secondary-color;
}
p {
	color: $primary-color;
	line-height: $base-line-height;
}
a {
	color: $fourthary-color;
}

// Sidebar font styling

#secondary h1 {
	padding-bottom: $gutter-width;
	font-size: 1.2em;
	color: $secondary-color;
	border-bottom: 1px dotted $secondary-color;	
}
#meta-2 {
	@extend .box;
	letter-spacing: 0.1em;
	border: 1px solid $primary-color;

	a {
		color: $primary-nav-color;
	&:hover {
		text-decoration: none;
		color: $tertiary-color;  
	}
	}
}