// Fonts and sizes
$sans-serif-font: Ruda, sans-serif;
$serif-font: Fenix, serif;
$base-font-size: 0.85em;
$base-line-height: 1.5em;

// Colors
$primary-color: rgba(51, 51, 51, 1);
$secondary-color: #fe7836;
$tertiary-color: #5c3826;
$fourthary-color: #5a8f45;
$primary-nav-color: #fff;

// Structural widths
$website-width: 960px; //max width
$main-col-width: 62.5%; //width for main content column
$sidebar-width: 26%; //width for sidebar
$float-direction: left;

$gutter-width: 10px;

$nav-list-type: none;